<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>


    <script src="tab-plus/tab-plus.js"></script>
    <script>

        angular.module('app', ['tab.plus'])
                .controller('ctrl2', function ($scope) {
                    $scope.test = 'ddd'
                })
                .controller('ctrl', function ($scope) {
                    $scope.tabs = []
                    $scope.scope = $scope
                    var i = 1;
                    $scope.test = 'ddd'

                    $scope.delTab = function () {
                        $scope.tabs.splice(0, 1)
                    }

                    $scope.addTab = function () {


                        $scope.tabs.push({
                            title: '标题' + i,
                            id: i,
                            isTack: i > 1,
                            isFixed: false,
                            templateUrl: 'tab-plus/template/locktab.html',
                            html: "                        <div class=\"panel-body\">\n" +
                            "<h1 >{{test}}</h1>" +
                            "                            <strong>Thrid quam felis</strong>\n" +
                            "\n" +
                            "                            <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among\n" +
                            "                                the stalks, and grow familiar with the countless indescribable forms of the insects\n" +
                            "                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and\n" +
                            "                                the breath </p>\n" +
                            "\n" +
                            "                            <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss\n" +
                            "                                of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite\n" +
                            "                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of\n" +
                            "                                drawing a single stroke at the present moment; and yet.</p>\n" +
                            "                        </div>",
                            tackFunction: function (isTack, data) {
                            },
                            closeFunction: function (data) {
                            },
                            selectFunction: function (data) {
//                                data.isFixed = false
                            },
                            btns: [
                                {
                                    name: '刷新',
                                    click: function (data) {
                                        console.log(data)
                                    }
                                }
                            ]
                        })

                        i++
                    }
                })

        var str = ""
    </script>
</head>
<body ng-controller="ctrl">
<input type="button" value="TEST" ng-click="addTab()">
<input type="button" value="del" ng-click="delTab()">
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="tabs-container">
                <tabset-plus tabs="tabs" scope="scope"></tabset-plus>
            </div>
        </div>
    </div>
</div>
</body>
</html>