<li tab-plus ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item btn-group" uib-dropdown>
    <a href class="nav-link" ng-click="select($event)">
        <i class='fa fa-thumb-tack' ng-show='!isFixed && isTack'></i>
        {{heading}}
        <i uib-dropdown-toggle ng-show="!isFixed">
            <span class="caret"></span>
        </i></a>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href="#" ng-click='tack()'>{{isTack?'解锁':'锁定'}}</a></li>
        <li role="menuitem" ng-show='!isTack'><a href="#" ng-click="closeTab()">关闭</a></li>
    </ul>
</li>